/* .outline_text {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: transparent;
      -webkit-text-stroke: 1px #060606;
    } */

    @media only screen and (max-width: 1416px) {
      .bestSelling_title{
        font-size: 65px !important;
      }
    }


    @media only screen and (max-width: 1355px) {
      .bestSelling_title{
        font-size: 55px !important;
      }
    }

    @media only screen and (max-width: 1192px) {
      .bestSelling_title{
        font-size: 48px !important;
      }
    }

    @media only screen and (max-width: 1078px) {
      .bestSelling_title{
        font-size: 40px !important;
      }
    }


    @media only screen and (max-width: 945px) {
      .bestSelling_title{
        font-size: 35px !important;
      }
    }


    @media only screen and (max-width: 845px) {
      .bestSelling_title{
        font-size: 30px !important;
      }
      .bestSelling_wrapper{
        padding-left: 90px !important;
        padding-right: 90px !important;
      }
    }

    @media only screen and (max-width: 654px) {
      .bestSelling_title{
        font-size: 30px !important;
      }
      .bestSelling_wrapper{
        padding-left: 70px !important;
        padding-right: 70px !important;
      }
    }

    @media only screen and (max-width: 624px) {
      .bestSelling_title{
        font-size: 30px !important;
      }
      .bestSelling_wrapper{
        padding-left: 30px !important;
        padding-right: 30px !important;
      }
    }

    @media only screen and (max-width: 510px) {
      .bestSelling_title{
        font-size: 25px !important;
      }
      .bestSelling_wrapper{
        padding-left: 30px !important;
        padding-right: 30px !important;
      }
    }


    @media only screen and (max-width: 450px) {
      .bestSelling_title{
        font-size: 20px !important;
      }
      .bestSelling_wrapper{
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
